/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, iframe, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* CUSTOM */
body {
background: #1F2F3A;
font-family: 'Bitter', serif;
}
#wrapper {
width: 1100px;
margin: 0 auto;
}

header {
border-bottom: 5px #c9c392 solid;
background: #E0DAA3;
}
header h1 {
padding: 10px 0;
font-size: 1.4em;
text-align: center;
}
header form {
padding: 15px;
}

header form label {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
width: 20%;
margin-right: 2%;
text-align: right;
}
header form input,
header form select {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
color: #98092B;
font-size: 1em;
width: 77%;
font-family: 'Bitter', serif;
margin-bottom: 5px;
}

#in_game_costumes {
	display: inline-block;
	width: 77%;
}
#in_game_costumes a {
	font-size: 13px;
	margin-right: 10px;
	display: inline-block;
}

#toolbar {
	margin-top: 15px;
	text-align: center;
}

button, #toolbar .submit {
	font-size: 1em;
	display: inline-block;
	vertical-align: middle
}

#artboard {
	border: solid 5px #14222c;
	margin: 20px auto;
	overflow: hidden;
	background: #fff url('bg.png');
	width: auto;
	float: right;
	max-width: 500px;
	overflow-x: auto;
	position: relative;
}

#artboard .highlighter {
	position: absolute;
	height: 47px;
	width: 47px;
	background-color: #aaa;
}
#artboard img {
	position: relative;
	z-index: 1;
	cursor: pointer;
}
#artboard #oldbusted {
	display: none;
	position: absolute;
	z-index: 2;
}

#inspector_spacetime {
	float: left;
	margin: 20px auto;
}

#inspector_spacetime .controls {
	display: block;
	background: #fff;
	padding: 5px;
}
#inspector_spacetime .controls.play {
	line-height: 25px;
	padding: 15px;
}

#inspector_spacetime .controls > * {
	margin: 9px;
}

#inspector_spacetime .controls fieldset input,
#inspector_spacetime .controls fieldset span {
	float: right;
}

#inspector_spacetime .controls fieldset span {
	margin-right: 5px;
}

#inspector_spacetime .canvas_holder {
	width: 525px;
	background-color: #CCC;
	text-align: center;
}

#inspector_spacetime canvas {
	background: white url('bg_big.png');
	background-size: 100%;
	border: 10px solid #ddd;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.faq {
	border-bottom: 5px #c9c392 solid;
	background: #E0DAA3;
	margin: 20px 0;
	padding: 15px;
	clear: both;
}

.faq h1 {
	font-size: 1.4em;
	text-align: center;
}
.faq dt {
	margin-top: 10px;
}
.faq dd {
	margin: 5px 0 10px;
	padding-left: 40px;
}

/* ------------------------------------------
CSS TOGGLE SWITCHES (IonuÈ› Colceriu)
Licensed under Unlicense 
https://github.com/ghinda/css-toggle-switch
------------------------------------------ */

/* Toggle Switches */
@media only screen {

	/* Checkbox
	 */
	.toggle {
		position: relative;
		display: block;
		
		padding: 0;
		margin: 0;
	}

	/* Position the label over all the elements, except the toggle-button
	 * Clicking anywhere on the label will change the switch-state
	 */
	.toggle label {
		position: relative;
		z-index: 3;
		
		display: block;
		width: 100%;
		padding: 3px 0;
	}

	/* Don't hide the input from screen-readers and keyboard access
	 */
	.toggle input {
		position: absolute;
		opacity: 0;
		z-index: 5;
	}

	/* Outline the toggle when the input is focused */
	.toggle input:focus ~ .toggle-button {
		outline: 1px dotted #fff;
	}

	/* Track */
	.toggle label:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		display: block;
		width: 80px;
		height: 17px;
		padding: 2px 0;
		
		background-color: #dd7e6d;	
		border: 1px solid #b15b4d;
		border-radius: 2px;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 0px rgba(255, 255, 255, 0.9);
		
		/* Text labels */
		content: "OFF \a ON";
		white-space: pre;
		
		color: #8f5247;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
			
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	/* We could use label:after to create the toggle button
	 * But we won't be able to use transitions on it, except in Firefox
	 */
	.toggle span {
		display: block;
		position: absolute;
		right: -1px;
		top: -2px;
		z-index: 4;
		width: 40px;
		height: 25px;
		
		border: 1px solid #bbbbbb;
		
		background-color: #f7f7f7; 
		background-image: -webkit-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:    -moz-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:     -ms-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:      -o-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:         linear-gradient(top, #f7f7f7, #ececec);  
		
		box-shadow: inset 0 1px 2px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, 0.12);
		border-radius: 2px;
		
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		margin: 0 !important;
	}

	.toggle input:checked ~ span {
		right: 45px;
	}

	.toggle input:checked + label:after {
		background-color: #a0c66b;
		border-color: #87aa5b;

		color: #60783f;
	}

	/* Radio Switch
	 */
	.switch {
		position: relative;
		border: 0;
		padding: 0;
		width: 300px;
		
		font-family: sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		
		text-shadow: 1px 1px 1px #191b1e;
		
	}

	.switch legend {
		float: left;
		width: 40%;
		padding: 7px 10% 3px 0;	
		
		text-align: right;
	}

	.switch input {
		position: absolute;
		opacity: 0;
	}

	.switch legend:after {
		content: '';
		
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 0;
		
		width: 50%;
		height: 100%;
		
		padding: 2px;
		background-color: #2d3035;
		
		border-radius: 3px;	
		
		box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
	}

	.switch label {
		position: relative;
		z-index: 2;
		
		float: left;
		width: 25%;
		margin-top: 2px;
			
		padding: 5px 0 3px 0;
		text-align: center;
		
		color: #64676b;
		text-shadow: 0 1px 0 #000;
	}


	.switch input:checked + label {
		color: #2d592a;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}

	.switch input:focus + label {
		outline: 1px dotted #fff;
	}

	.switch .switch-button {
		clear: both;
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		
		width: 25%;
		height: 100%;
		
		margin: 2px;
		
		background-color: #70c66b;
		
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
		
		border-radius: 3px;
		
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.switch input:last-of-type:checked ~ .switch-button {
		left: 75%;
	}

	/* Treo Switch */
	.switch.switch-treo label {
		width: 16.6%;
	}

	.switch.switch-treo .switch-button {
		width: 16.6%;
	}

	.switch.switch-treo input:checked:nth-of-type(2) ~ .switch-button {	
		left: 66.6%;
	}

	.switch.switch-treo input:checked:last-of-type ~ .switch-button {
		left: 83.26%;
	}

	/* Switch Themes/Colors */
	.switch.blue input:checked + label {
		color: #15475d;
	}

	.switch.blue .switch-button {
		background-color: #38a3d4;
	}

	.switch.yellow .switch-button {
		background-color: #ccc165;
	}

	.switch.yellow input:checked + label {
		color: #494525;
	}

}