/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, iframe, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* CUSTOM */
body {
background: #1F2F3A;
font-family: 'Bitter', serif;
}
#wrapper {
width: 1000px;
margin: 0 auto;
}

header {
border-bottom: 5px #c9c392 solid;
background: #E0DAA3;
}
header h1 {
padding: 10px 0;
font-size: 1.4em;
text-align: center;
}
header form {
padding: 15px;
}

header form label {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
width: 20%;
margin-right: 2%;
text-align: right;
}
header form input,
header form select {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
color: #98092B;
font-size: 1em;
width: 77%;
font-family: 'Bitter', serif;
margin-bottom: 5px;
}

#toolbar {
margin-top: 15px;
text-align: center;
}
button {
font-size: 1em;
display: inline-block;
vertical-align: middle
}

#artboard {
border: solid 5px #14222c;
margin: 20px auto;
overflow: hidden;
background: #fff url('bg.png');
width: auto;
float: right;
max-width: 500px;
overflow-x: auto;
position: relative;
}

#artboard .highlighter {
	position: absolute;
	height: 47px;
	width: 47px;
	background-color: #aaa;
}
#artboard img {
	position: relative;
	z-index: 1;
	cursor: pointer;
}

#inspector_spacetime {
	float: left;
	margin: 20px auto;
}

#inspector_spacetime .controls {
	display: block;
	background: #fff;
	padding: 15px;
}

#inspector_spacetime .canvas_holder {
	width: 500px;
	background-color: #CCC;
	text-align: center;
}

#inspector_spacetime canvas {
	background: white url('bg_big.png');
	background-size: 100%;
	border: 10px solid #ddd;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.spritesheet {
z-index: 3;
font: normal normal 9px Arial, sans-serif;
}
.spritesheet td {
width: 48px;
height: 48px;
margin: 0;
padding: 0;
vertical-align: top;
text-align: center;
color: #F00;
text-shadow: -1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
1px 1px 0 #fff;
}

.faq {
border-bottom: 5px #c9c392 solid;
background: #E0DAA3;
margin: 20px 0;
padding: 15px;
clear: both;
}

.faq h1 {
font-size: 1.4em;
text-align: center;
}
.faq dt {
margin-top: 10px;
}
.faq dd {
margin: 5px 0 10px;
padding-left: 40px;
}



.spritelisting table {
margin: 15px 0 0;
}
.spritelisting tr {
border-bottom: 1px solid rgba(0,0,0,.1);
}
.spritelisting tr > * {
padding: 3px;
}
.spritelisting th {
font-weight: bold;
text-align: left;
}
.spritelisting tr:nth-child(2n) {
background: rgba(0,0,0,.1);
}
.