<!DOCTYPE html>
<html>
  <head>
    <title>Journey to the Center of Hawkthorne Costume Tester</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href='http://fonts.googleapis.com/css?family=Bitter&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>
   </style>      
  </head>
  <body> 
    <div id="wrapper">
    <header>
      <h1>Journey to the Center of Hawkthorne Costume Tester</h1>
      <form id="costume" method="post">
        <p>
        <label for="character">Character</label>
        <select id="character" name="character">
          {% for person in characters %}
          <option value="{{person}}" {% if person == character %}selected{%endif%}>{{ person|title}}</option>
          {% endfor %}
        </select>
      </p>
      <p>
        <label for="url">Costume URL</label>
        <input tabindex=0 type="text" id="url" name="url" value="{{source}}"> 
      </p>
      </form>
    </header>
    <div id="artboard">
      {% if source %}
        <img style="display:none;" id="oldbusted" src="{{original}}" />
        <img id="newhotness" src="{{source}}" />
      {% else %}
        <img id="oldbusted" src="{{original}}" />
        <img style="display:none;"id="newhotness" src="{{source}}" />
      {% endif %}
    </div>
    <div id="toolbar">
      <button class="costume">Toggle Costume</button>
      <button class="bg">Toggle Background</button>
      <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/r/hawkthorne/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit11.gif" alt="submit to reddit" border="0" /> </a>
    </div>
  </div>
  </body>
</html>
