<!DOCTYPE html>
<html>
	<head>
		<title>Journey to the Center of Hawkthorne Costume Tester</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.hotkeys.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='html5slider.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href='http://fonts.googleapis.com/css?family=Bitter&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>Journey to the Center of Hawkthorne Costume Tester</h1>
				<form id="form" action="" method="post"><div>
					<div>
						<label for="character">Character</label>
						<select id="character" name="character">
							{% for person in characters %}
							<option value="{{person}}" {% if person == character %}selected{% endif %}>{{ person|title }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<label for="url">Costume URL</label>
						<input type="text" id="url" name="url" value="{{source}}" />
					</div>
					<div>
						<label>{{character|title}}'s In-Game Costumes</label>
						<div id="in_game_costumes"></div>
					</div>
					<div id="toolbar">
						<div class="submit">
							<a href="http://www.reddit.com/r/hawkthorne/submit" onclick="this.href += '?url=' + encodeURIComponent(window.location);">
								<img src="http://www.reddit.com/static/spreddit11.gif" alt="submit to reddit" border="0" />
							</a>
						</div>
					</div>
				</form>
			</header>
			<div id="inspector_spacetime">
				<div class="controls">
					<fieldset>
						<label for="zoom_slide">Inspector Size:</label>
						<input id="zoom_slide" type="range" min="1" max="10" value="5"/>
						<span class="zoom_size">x5</span>
					</fieldset>
					<fieldset class="toggle">
						<input id="bg" type="checkbox" />
						<label for="bg">Background:</label>
						<span class="toggle-button"></span>
					</fieldset>
					<fieldset class="toggle">
						<input id="char" type="checkbox" />
						<label for="char">Character Overlay:</label>
						<span class="toggle-button"></span>
					</fieldset>
					<fieldset>
						<label for="char_opacity">Character Overlay Opacity:</label>
						<input id="char_opacity" type="range" step="1" min="1" max="100" value="100"/>
						<span class="char_opacity_size">100%</span>
					</fieldset>
				</div>
				<div class="canvas_holder">
					<canvas id="canvas" width="480" height="480" style="width: 240px; height: 240px;"></canvas>
				</div>
				<div class="controls play">
					<button id="play_all">Play All Tiles, In Order</button>
					<button id="stop">Stop</button>
					</br>
					Walk: [Left] / [Right]<br>
					Look Up / Crouch: [Up] / [Down]<br>
					Walk Away / Towards: [Alt + Up] / [Alt + Down]<br>
					Hold: [Shift]<br>
					Hold and Walk: [Shift + Left] / [Shift + Right]<br>
					Jump: [space]<br>
					Die: [x]<br><br>
					( not fully supported for all characters yet )<br>
					Attack: [a]<br>
				</div>
			</div>
			<div id="artboard" class="{% if source != '' %}new{% endif %}">
				<div class="highlighter"></div>
				<img id="oldbusted" src="{{original}}" />
				{% if source != '' %}
					<img id="newhotness" src="{{source}}" />
				{% endif %}
			</div>
			<section class="faq">
				<h1>FAQ</h1>
				<dl>
					<dt>How do I create my own character?</dt>
					<dd>Follow the <a href="https://github.com/kyleconroy/hawkthorne-journey/wiki/Character-creation-guide">Character Creation Guide</a></dd>
				</dl>
			</section>
		</div>
	</body>
</html>
